<form *ngIf="recipe"
  #recipeForm="ngForm"
  class="detail-body">
  <md-input-container class="recipe-title mat-h1">
    <input mdInput
      [(ngModel)]="recipe.name" type="text"
      placeholder="Name" name="name" />
  </md-input-container>

  <md-input-container class="recipe-tags">
    <input mdInput
      [(ngModel)]="tagsAlias" type="text"
      placeholder="Tags" name="tags" />
  </md-input-container>

  <div class="recipe-stats">
    <md-input-container class="recipe-time recipe-stat">
      <input mdInput
        [(ngModel)]="recipe.time" type="number"
        placeholder="Time" name="time" />
    </md-input-container>
  </div>

  <md-list class="recipe-ingredients">
    <md-list-item
      *ngFor="let ingredient of recipe.ingredients"
      class="recipe-ingredient">
      <span md-line
        class="ingredient-name">{{ingredient}}</span>
      <button md-icon-button
        (click)="deleteIngredient(ingredient)"
        type="button">
        <md-icon class="delete-ingredient-icon">delete</md-icon>
      </button>
    </md-list-item>
    <md-list-item>
      <md-input-container class="add-recipe-ingredient">
        <input mdInput #addIngredientInput
          (keyup.enter)="addIngredient(addIngredientInput.value); addIngredientInput.value = ''"
          placeholder="Add Ingredient" name="addIngredient" type="text" />
      </md-input-container>
    </md-list-item>
  </md-list>

  <md-input-container class="recipe-instructions mat-body-2">
    <textarea mdInput mdTextareaAutosize mdAutosizeMinRows="4"
      [(ngModel)]="recipe.instructions"
      placeholder="Instructions" name="instructions"></textarea>
  </md-input-container>
</form>

<button md-fab
  [disabled]="!recipe"
  (click)="save()"
  class="save-button">
  <md-icon>save</md-icon>
</button>
