@import "../../../theming/_theme-tag-input.scss"
@import "../../../theming/theme-list-icons"

/* Center the form
\:host
  display: flex
  flex-grow: 1
  justify-content: center

/* Use flexbox for the form
.recipe-form
  display: flex
  flex-flow: row wrap
  flex-grow: 1
  margin: 15pt
  margin-bottom: 64pt
  padding: 10pt


// Set an element to full width in the form flexbox
=full-width
  flex: 1 100%

/* Recipe title is a full-width block
.recipe-title
  order: 1
  display: block
  +full-width

/* Recipe tag list is a full width block
.recipe-tags
  order: 2
  display: block
  +full-width

/* Recipe ingredients list is a full-width container */
.recipe-ingredients
  order: 3
  display: block
  +full-width

.add-ingredient
  width: 100%

.delete-ingredient-icon
  +theme-list-icons(".ingredient-item", ".delete-ingredient")

/* Recipe instruction text field is a full-width block
.recipe-instructions
  order: 4
  display: block
  +full-width

  textarea
    resize: none

/* Save button is an absolutely positioned FAB */
.save-button
  position: fixed
  bottom: 10pt
  right: 10pt
