<form
  [formGroup]="recipeForm"
  (ngSubmit)="save()"
  class="recipe-form">
  <md-input-container class="recipe-title mat-h1">
    <input mdInput
      formControlName="name"
      required
      type="text"
      placeholder="Name" />
    <md-error *ngIf="recipeForm.controls.name.hasError('required')">Recipe name is required</md-error>
  </md-input-container>

  <tag-input
    modelAsStrings="true"
    formControlName="tags"
    placeholder="Add tags"
    secondaryPlaceholder="Add tags"
    class="recipe-tags"></tag-input>

  <div class="recipe-stats">
    <md-input-container class="recipe-time recipe-stat">
      <input mdInput
        formControlName="time"
        type="number" min="0"
        placeholder="Time" />
    </md-input-container>
  </div>

  <item-list
    formControlName="ingredients"
    placeholder="Add Ingredient"
    class="recipe-ingredients"></item-list>

  <md-input-container class="recipe-instructions mat-body-1">
    <textarea mdInput mdTextareaAutosize mdAutosizeMinRows="4"
      formControlName="instructions"
      placeholder="Instructions"></textarea>
  </md-input-container>

  <button md-fab
    [disabled]="!recipeForm?.valid || recipeForm?.pristine"
    type="submit"
    class="save-button md-fab-bottom-right">
    <md-icon>save</md-icon>
  </button>
  {{recipeForm.value | json}}
</form>
