<section  class="app-body mat-typography mat-app-background">
  <app-toolbar
    [menuOpen]="sidenavOpen"
    (toggleMenu)="sidenav.toggle()"
    [title]="title"></app-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav
      (open)="sidenavOpen = true"
      (close)="sidenavOpen = false"
      mode="over"
      class="mat-elevation-z6">
      <app-nav (closeSidenav)="sidenav.close()"></app-nav>
    </mat-sidenav>

    <router-outlet></router-outlet>
  </mat-sidenav-container>
</section>
