<section  class="app-body mat-typography mat-app-background">
  <app-toolbar
    [menuOpen]="sidenavOpen"
    (toggleMenu)="sidenav.toggle()"
    [title]="title"></app-toolbar>

  <md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav
      (open-start)="sidenavOpen = true"
      (close-start)="sidenavOpen = false"
      mode="over"
      class="mat-elevation-z6">
      <app-nav (closeSidenav)="sidenav.close()"></app-nav>
    </md-sidenav>

    <router-outlet></router-outlet>
  </md-sidenav-container>
</section>
