<form [formGroup]="listForm">
  <mat-card>
    <mat-card-title>
      <mat-form-field class="name-field">
        <input matInput formControlName="name" />
      </mat-form-field>
    </mat-card-title>

    <mat-card-content formArrayName="items">
      <div
        *ngFor="let item of items.controls; let i = index"
        [formGroupName]="i"
        class="list-item-container">
        <mat-checkbox formControlName="checked"></mat-checkbox>
        <mat-form-field class="item-field">
          <input matInput formControlName="name" />
        </mat-form-field>
        <button mat-icon-button
          (click)="deleteItemField(i)"
          class="delete-item-button">
          <mat-icon mat-list-icon
            class="delete-item-icon">delete</mat-icon>
        </button>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button
        (click)="addItemField()">ADD ITEM</button>
      <button mat-button
        (click)="deleteThisList()">DELETE LIST</button>
    </mat-card-actions>
  </mat-card>
</form>
