<md-list class="list">
  <md-list-item
    *ngFor="let item of items; let i = index"
    class="item">
    <span md-line
      class="item-name">{{item}}</span>
    <button md-icon-button
      [disabled]="disabled"
      (click)="deleteItem(i)"
      type="button"
      class="delete-item">
      <md-icon class="delete-item-icon">delete</md-icon>
    </button>
  </md-list-item>
  <md-list-item>
    <md-input-container class="add-item">
      <input mdInput #addItemInput
        [disabled]="disabled"
        (blur)="onTouched()"
        (keyup.enter)="addItem(addItemInput.value); addItemInput.value = ''"
        [placeholder]="placeholder" name="addItem" type="text" />
    </md-input-container>
  </md-list-item>
</md-list>
