<section class="list-container mat-elevation-z3">
  <tag-input #tagFilter
    modelAsStrings="true"
    [(ngModel)]="filteredTags"
    (ngModelChange)="updateFiltering()"
    placeholder="Filter by tags"
    secondaryPlaceholder="Filter by tags"
    name="tag-filter"
    class="tag-filter"></tag-input>

  <mat-nav-list class="list">
    <mat-list-item
      *ngFor="let recipe of recipes | async"
      class="recipe-item">
      <a matLine
        [routerLink]="['/recipe', recipe.id]">{{recipe.name}}</a>
      <button mat-icon-button
        (click)="deleteRecipe(recipe)"
        type="button"
        class="delete-recipe">
        <mat-icon mat-list-icon class="delete-recipe-icon">delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
  <button mat-fab
    color="accent"
    (click)="newRecipe()"
    class="new-recipe">
    <mat-icon>add</mat-icon>
  </button>
</section>
