@import "../../../theming/_theme-tag-input.scss"

\:host
  display: flex
  flex-direction: column
  flex-grow: 1

.list
  flex-grow: 1

.recipe-item
  color: inherit

.delete-recipe-icon
  opacity: .4

  .recipe-item:hover &
    opacity: 1

.new-recipe
  position: absolute
  bottom: 10pt
  right: 10pt
