// Theme the tag-input component
@import "indigo-pink-theme.sass";
@import "../../node_modules/ngx-chips/dist/modules/core/styles/core/_core.scss";

$ngx-chips-theme: (
  container-border-bottom-focused: 2px solid mat-color($primary)
);

/deep/ .ng2-tag-input.ng-tns-c11-1[_ngcontent-c11] {
  @include tag-input-theme($ngx-chips-theme);

  input {
    background-color: inherit;
  }
}
